<section class="heading-section">
  <h1 class="title is-1 has-text-centered">2DO-List</h1>
</section>

<div class="container add-todo-box-container">
  <div class="add-todo-box">

    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
      <h2 class="title is-5">Nova tarefa</h2>

      <div class="field is-grouped" style="margin: 0">
        <p class="control is-expanded">
          <input ngModel #todoTextField="ngModel" required minlength="2" name="Nome" class="input" type="text"
            placeholder="Digite sua tarefa aqui...">
        </p>
        <p class="control">
          <button type="submit" class="button alt-gradient-button">
            <i class="material-icons">add</i>
            Tarefa
          </button>
        </p>
      </div>

      <div *ngIf="todoTextField.invalid && showValidationErrors">
        <p class="help is-danger" *ngIf="todoTextField.errors?.['required']">Digite sua tarefa!</p>
        <p class="help is-danger" *ngIf="todoTextField.errors?.['minlength']">Sua tarefa deve ter mais do que 2
          caracteres!</p>
      </div>
    </form>

  </div>
</div>

<section class="section">
  <div class="container">

    <div class="todos-list">

      <app-todo-item *ngFor="let todo of todos" [todo]="todo" (todoClicked)="toggleCompleted(todo)"
        (editClicked)="editTodo(todo)" (onDeleted)="onDeleted()"></app-todo-item>

    </div>

  </div>
</section>
